{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

</head>

<body class="stopitmenu">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/passchecker.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
    <div class="container wow bounceInDown">
        <h1 class="onboardingtitle">Enter Your Access Code :</h1>
    </div>

    <div class="container wow bounceInUp">
    <div class="row">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2 stopitline">&nbsp;
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>

        <div class="row">
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2">
                <form action="/login/" method="post">{% csrf_token %}

                    <div class="form-group">
                        <div id="ppbarerrortxt" class="wow rollIn animated">{{ error_message }}</div>
                        <div id="ppbartxt"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="intellicode" maxlength="12" size="12" placeholder="Enter Code" autocomplete="off"
                               id="pass">
                    </div>
                    <div class="form-group">

                        <div id="pbar"></div>
                    </div>
                    <div class="form-group ">
                        <input type="submit" value="Next >" id="next_btn" disabled class="stopitbutton">
                    </div>
                </form>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>
    <div class="row">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2 stopitline">&nbsp;
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
    </div>
    <nav class="navbar-fixed-bottom navbar-default">
      <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
      </div>
    </nav>
</body>
</html>