{% load staticfiles %}
<html>
<head>
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <title>STOPit - Web Application</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="stopit">

    <div class="row">
      <div class="large-12 columns">
        <h1 class="stopittitle">Thanks for visiting STOPit website</h1>
      </div>
    </div>



    <div class="row">
      <div class="large-12 columns">
        <div class="stopitmenu">
                <h3> &nbsp; <img src="{% static 'img/play.png' %}" width="20px" height="20px"> &nbsp;  &nbsp; <a href="/options/" class="stopitmenuitem">Let's get started</a></h3>
        </div>
      </div>
    </div>

</body>
</html>