{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body class="stopit">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
      <ul class="nav navbar-nav navbar-left stopitsubtitle">
        <li><a href="/login/">Report Incident</a></li>
      </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" style="margin: 0; float: none;" href="/login/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown stopitsubtitle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu nav navbar-nav navbar-right">
                            {% if request.session.show_manage_contacts %}
                            <li><a href="/manage_contacts/">Manage Report Contacts</a></li>
                            {% endif %}
                            <li><a href="/help/">Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="/terms/">Terms of Use&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row wow bounceInDown">
      <div class="col-md-12">
        <h1 class="stopittitle">Manage Report Contacts</h1>
      </div>
    </div>


    <div class="container wow bounceInUp">
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4 panel">
                  <div class="row">
                        <h3>
                             &nbsp;  &nbsp; <img src="{% static 'img/users_gray.png' %}" width="20px" > &nbsp;  &nbsp; <a href="/edit_contact?contact_id=0" class="stopitsubtitle">Add a new Report Contact</a>
                        </h3>
                    </div>
            {% for contact in contacts %}
                {% if contact.org_id  == 0 %}
                    <div class="row">
                        <h3>
                             &nbsp;  &nbsp; <img src="{% static 'img/user_gray.png' %}" width="20px" height="20px"> &nbsp;  &nbsp; <a href="/edit_contact?contact_id={{ contact.user_id }}" class="stopitsubtitle">{{ contact.name }}</a>
                        </h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            <div class="col-md-4">&nbsp;</div>
      </div>
    </div>
</body>
</html>