{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body class="stopit">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script>
        new WOW().init();
          $(function() {

            // Setup form validation on the #register-form element
            $("#contact_form").validate({

                // Specify the validation rules
                rules: {
                    name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    mobile_phone: {
                        required: false,
                        minlength: 10
                    }
                },

                // Specify the validation error messages
                messages: {
                    name: "Please enter contact name",
                    email: "Please enter a valid email address",
                    mobile_phone: "Please provide phone number"
                },

                submitHandler: function(form) {
                    form.submit();
                }
            });

            $("#delete").click(function(){
                var ans = confirm('Are you sure you want to delete this contact?');
                return ans;
            });

          });

    </script>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
      <ul class="nav navbar-nav navbar-left stopitsubtitle">
        <li><a href="/login/">Report Incident</a></li>
      </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" style="margin: 0; float: none;" href="/login/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown stopitsubtitle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu nav navbar-nav navbar-right">
                            {% if request.session.show_manage_contacts %}
                            <li><a href="/manage_contacts/">Manage Report Contacts</a></li>
                            {% endif %}
                            <li><a href="/help/">Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="/terms/">Terms of Use&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container wow bounceInDown">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="stopittitle">
                    {% if ADD_MODE  == 1 %}
                    Add
                    {% else %}
                    Edit
                    {% endif %}
                     Report Contact</h1>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>


    <form action="/save_contact/" method="post" id="contact_form">{% csrf_token %}

        {% if CURRENT_CONTACT.user_id  %}
            <input type="hidden" name="user_id" value="{{ CURRENT_CONTACT.user_id }}">
            <input type="hidden" name="is_get_help" value="{{ CURRENT_CONTACT.is_get_help }}">
            <input type="hidden" name="is_trusted" value="{{ CURRENT_CONTACT.is_trusted }}">
            <input type="hidden" name="is_one_touch" value="{{ CURRENT_CONTACT.is_one_touch }}">
        {% else %}
            <input type="hidden" name="user_id" value="0">
            <input type="hidden" name="is_get_help" value="N">
            <input type="hidden" name="is_trusted" value="Y">
            <input type="hidden" name="is_one_touch" value="N">
        {% endif %}

        <div class="container wow bounceInUp">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6 panel  center">
                        <div class="form-group">
                            <label class="stopittoplabel"><font color="red">*</font> All fields required</label>
                        </div>
                        <div class="form-group">
                            <label class="stopitlabel"><font color="red">*</font> Name</label>
                        </div><div class="form-group">
                            <input name="name" type="text" class="stopitinput" placeholder="Name" value="{{ CURRENT_CONTACT.name }}"/>
                        </div>
                        <div class="form-group">
                            <label class="stopitlabel">Mobile Phone</label>
                        </div><div class="form-group">
                            <input name="mobile_phone" type="tel" class="stopitinput"  maxlength="10" placeholder="Mobile Phone" value="{{ CURRENT_CONTACT.mobile_phone }}"/>
                        </div>

                        <div class="form-group">
                            <label class="stopitlabel"><font color="red">*</font> Email</label>
                        </div><div class="form-group">
                            <input name = "email" type="text" class="stopitinput"  placeholder="Email" value="{{ CURRENT_CONTACT.email }}"/>
                        </div>

                    <a href="/manage_contacts"><input type="button" value="Cancel" id="cancel" class="stopitbutton"></a>
                    {% if CURRENT_CONTACT.user_id  %}
                        <input type="submit" value="Delete" id="delete"  name="delete" class="stopitbutton">
                    {% endif  %}
                    <input type="submit" value="Save" id="save"  name="save" class="stopitbutton">
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
        </div>

    </form>

</body>
</html>