{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body class="stopitmenu">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/logininfochecker.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->

    <div class="row wow bounceInDown">
      <div class="large-12 columns">
        <h1 class="onboardingtitle">Enter Your Login Information</h1>
      </div>
    </div>


    <div class="container wow bounceInUp">
        <div class="row">
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2 stopitline">&nbsp;
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>

        <div class="row">
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2">
                <div id="ppbarerrortxt" class="wow rollIn animated">{{ error_message }}</div>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2">
                {% for org in orgs %}
                <span class="orgtitle">{{ org.org_name }}</span>
                <form action="/loginviainfo/" method="post">{% csrf_token %}
                    <input type="hidden" name="org_id" value="{{ org.org_id }}"/>
                    <input type="hidden" name="roster_type" value="{{ org.roster_type }}"/>

                    <input type="hidden" name="org_type" value="{{ org_type }}"/>
                    <input type="hidden" name="country_code" value="{{ country_code }}"/>
                    <input type="hidden" name="state_code" value="{{ state_code }}"/>
                    <input type="hidden" name="org_name" value="{{ org_name }}"/>

                    <div class="form-group">
                        <input type="text" name="last_name" maxlength="120" id="last_name" placeholder="Last Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text" name="roster_id" maxlength="120" id="roster_id" placeholder="{{ org.roster_label }}" autocomplete="off">
                    </div>
                    <input type="submit" value="Next" id="submit_button" class="stopitbutton" disabled>
                </form>
                {% endfor %}
            </div>
            <div class="col-md-5">&nbsp;</div>

        </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2 stopitline">&nbsp;
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
    </div>

</body>
</html>