{% load staticfiles %}
<html>
<head>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet" media="screen" />
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="stopit">

<div id="top_gradient"></div>
{% block content %}
<h1 class="text-info">login failed</h1>
{% endblock %}



</body>
</html>