{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

</head>

<body class="stopitmenu">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script>
    $(function() {
    $('#states').change(function() {
        this.form.submit();
    });
});
</script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
    <div class="row">
      <div class="large-12 columns">
        <h1 class="onboardingtitle">Find Your State</h1>
      </div>
    </div>

    <div class="row">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2">
            <div class="row">
            <!--
            < href="/findorg?org_type={{ org_type }}&country_code={{ country_code }}&state_code={{ state.code }}" class="stopitmenuitem">{{ state.name }}
            -->
            <form action="/findorg/" method="post">{% csrf_token %}
                <input type="hidden" name="org_type" value="{{ org_type }}"/>
                <input type="hidden" name="country_code" value="{{ country_code }}"/>
            <select name="state_code" id="states">
                <option value="" selected> Select your state</option>
{% for state in states %}

                    <option value="{{ state.code }}"><img src="{% static 'img/map_pin.png' %}" width="20px" height="20px"> &nbsp;  &nbsp;{{ state.name }} </option>
{% endfor %}
            </select>
            </form>
        </div>
      </div>
        <div class="col-md-5">&nbsp;</div>
    </div>


    </body>

</html>