{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

</head>

<body class="stopitmenu">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>


    <script>
        $(function() {
            $('#statelist').change(function() {
                this.form.submit();
            });
        });

        var geodata = {{ country_state_list |safe}};

                new WOW().init();

        $( document ).ready(function() {
            // Handler for .ready() called.
                // First - populate the Country select box from the JSON
                for (var i in geodata.countries) {
                    var elem = document.createElement("option");
                    elem.value = geodata.countries[i].code;
                    elem.innerHTML = geodata.countries[i].name;
                    document.getElementById("countrylist").appendChild(elem);
                }

                // Next - add an event handler that will trigger when Country is changed and populate the State box
                document.getElementById("countrylist").addEventListener("change", function () {
                    document.getElementById("statelist").innerHTML = "";
                    var country = document.getElementById("countrylist").options[document.getElementById("countrylist").selectedIndex].value;
                    if (country === "Country") {
                        var elem = document.createElement("option");
                        elem.value = "State";
                        elem.innerHTML = "State";
                        document.getElementById("state").appendChild(elem);
                    }
                    for (var i in geodata.countries) {
                        if (geodata.countries[i].code === country) {
                            for (var a = 0; a < geodata.countries[i].states.length; a++) {
                                if (a == 0)
                                {
                                    var elem = document.createElement("option");
                                    elem.value = "State";
                                    elem.innerHTML = "Please Select a State";
                                    document.getElementById("statelist").appendChild(elem);
                                }
                                var elem = document.createElement("option");
                                elem.value = geodata.countries[i].states[a].code;
                                elem.innerHTML = geodata.countries[i].states[a].name;
                                document.getElementById("statelist").appendChild(elem);
                            }
                        }
                    }
         });

        });





    </script>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->

    <div class="row">
      <div class="large-12 columns">
        <h1 class="onboardingtitle wow bounceInDown">Find Your Country and State:</h1>
      </div>
    </div>

    <div class="row wow bounceInUp">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2 stopitline">&nbsp;
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
        <div style="height: 40px; width: 300px;">
            &nbsp;
        </div>

    <div class="row">
        <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2">
                <div id="ppbarerrortxt" class="wow rollIn animated">{{ error_message }}</div>
            </div>
        </div>


    <div class="row wow bounceInUp">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2">
            <div class="row">
                <form action="/findorg/" method="post">{% csrf_token %}
                    <input type="hidden" name="org_type" value="{{ org_type }}"/>

                    <div class="form-group">
                        <select name="country_code" id="countrylist">
                            <option value="country">Please Select a Country</option>
                        </select>
                    </div>

                    <div class="form-group ">
                        <select name="state_code" id="statelist">
                            <option value="state">Please Select a State</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>
    <div class="row wow bounceInUp">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2 stopitline">&nbsp;
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>

    <nav class="navbar-fixed-bottom navbar-default">
      <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
      </div>
    </nav>
</body>
</html>