{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

</head>

<body class="stopit">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
      <ul class="nav navbar-nav navbar-left stopitsubtitle">
        <li><a href="/login/">Report Incident</a></li>
      </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" style="margin: 0; float: none;" href="/login/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown stopitsubtitle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu nav navbar-nav navbar-right">
                            {% if request.session.show_manage_contacts %}
                            <li><a href="/manage_contacts/">Manage Report Contacts</a></li>
                            {% endif %}
                            <li><a href="/help/">Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="/terms/">Terms of Use&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row">
      <div class="large-12 columns">
        <h1 class="stopittitle">Help</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 panel">
                <p>With STOPit, you can report incidents which contain one or more images or videos, a message, or both.</p>
                <p>To report an incident using a web browser, go to the Create an Incident Report screen. This is the main screen that will open when you log in. From any other screen, click the Report Incident button at the top left.
</p>
                <p>Once on the Create an Incident Report screen, use the text box to enter a message or add a note. To include one or more photos or videos, select the Choose Files button.
</p>
                <p>By default, your report will submit anonymously. If you wish to include your name with your report, uncheck the Report Anonymously box.</p>

                <p>Then to the right of the screen select the recipients you wish to receive the incident report.</p>

                <p>When ready to submit your report, press Send.</p>

                <p>When successfully submitted, you will receive a confirmation message. You can then choose to submit another report, or to log out.</p>


                <p>For more help, please Contact Us:</p>
                Visit our website: <a href="http://www.stopitcyberbully.com" target="_blank">stopitcyberbully.com</a><br/>
                Email Us: <a href="mailto:support@stopitcyberbully.com">support@stopitcyberbully.com</a><br/>
                Call Us: <a href="tel:18559990932">1.855.999.0932</a><br/>


            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>

</body>
</html>