{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

</head>

<body class="stopit">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/incidentchecker.js' %}"></script>
   <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" style="margin: 0; float: none;" href="/login/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown stopitsubtitle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu nav navbar-nav navbar-right">
                            {% if request.session.show_manage_contacts %}
                            <li><a href="/manage_contacts/">Manage Report Contacts</a></li>
                            {% endif %}
                            <li><a href="/help/">Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="/terms/">Terms of Use&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container wow bounceInDown">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="stopittitle">Create an Incident Report</h1>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <!-- Begin page content -->

    <form id="incidentform" action="/file_incident/" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="container panel">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                            <Label for="notes"><span class="stopitsubtitle">Incident Message:</span></Label>
                        </div>
                        <div class="form-group">
                            <textarea rows="10" placeholder="Add message or notes" name="notes" id="notes" class="incidentText"></textarea>
                        </div>
                </div>
                <div class="col-md-3">
                    <span class="stopitsubtitle">Send report to:</span><br/>
                    <hr/>
                    {% for orgcontact in contacts %}
                        {% if orgcontact.org_id  != 0 %}
                        <input name="report_contact" id="orgcontact" value="{{ orgcontact.user_id }}" type="checkbox" checked>&nbsp;<label
                                for="orgcontact">
                            <span class="stopitorgcontact">{{ orgcontact.name }}</span></label>
                        <br/>
                        {% endif %}
                    {% endfor %}
                    {% if request.session.show_manage_contacts %}
                    {% for contact in contacts %}
                        {% if contact.org_id  == 0 %}
                        <input name="report_contact" id="{{ contact.user_id }}" value="{{ contact.user_id }}" type="checkbox">&nbsp;<label
                                for="{{ contact.user_id }}">
                            <span class="stopitcontact">{{ contact.name }}</span></label>
                        <br/>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <Label><span class="stopitsubtitle">Select Photo or Video:</span></Label>
                        <input type="file" multiple name="attachedfiles" id="attachedfiles" MAXLENGTH=50
                               accept="image/*,.jpg,.JPG,.gif,.GIF,.png,.PNG,.mp4,.MP4,.mp3,.MP3,.mpg,.MPG,video/mp4">


                        <div class="form-group">
                        <input type="checkbox" class="anonymous" name="is_anonymous" value="1" checked> Report
                        Anonymously
                        <input type="submit" value="Send >" id="submit_incident"
                               class="stopitbutton pull-right">
                        </div>
                </div>
                <div class="col-md-3">&nbsp;</div>
        </div>
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
                <div class="col-md-3">&nbsp;</div>
            </div>

            </div>
    </form>

    <nav class="navbar-fixed-bottom navbar-default">
      <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
      </div>
    </nav>
</body>

</html>
