{% load staticfiles %}
<html>
<head>
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet" media="screen" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
        $(document).foundation();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="stopit">
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/foundation/foundation.js' %}"></script>
  <script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
  <!-- Other JS plugins can be included here -->
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <script src="{% static 'js/incidentchecker.js' %}"></script>

    <script src="{% static 'js/strophe/strophe.js' %}"></script>
    <script src="{% static 'js/strophe/flXHR.js' %}"></script>
    <script src="{% static 'js/strophe/strophe.flxhr.js' %}"></script>

  <script>
    $(document).foundation();
  </script>



<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/login/" ><span class="name">Home</span></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>

    <div class="row">
      <div class="large-12 columns">
        <h3 class="stopittitle">Connect with {{ ORG_NAME }} anonymously via Messenger</h3>
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container" id="bottom_gradient">
      <div class="page-header">
        <h1></h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
            <form action="/messenger/" method="post">{% csrf_token %}
                <textarea  rows="10" placeholder="New Message" name="notes" id="notes"></textarea>
                <input type="submit" value="Submit" id="submit_incident" disabled>
            </form>
        </div>
      </div>
    </div>




</body>
</html>