{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body class="stopitmenu">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
    <div class="container">
        <h1 class="onboardingtitle">Which describes you?</h1>
    </div>
    <div class="container wow bounceInUp" data-wow-duration="2s">

        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="row stopitline">
                    <h3>
                        <a href="/findcountry?org_type=1" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{% static 'img/school.png' %}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; I'm in
                            K-12th grade</a> &nbsp;
                    </h3>

                </div>

                <div class="row stopitline">
                    <h3>
                        <a href="/findcountry?org_type=2" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{% static 'img/college.png' %}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; I'm in
                            college</a>
                    </h3>
                </div>
                <div class="row stopitline">
                    <h3>
                        <a href="/findcountry?org_type=3" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{% static 'img/work.png' %}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; I'm working</a>
                    </h3>
                </div>
                <div class="row stopitline">
                    <h3>
                        <a href="/accesscode" class="stopitmenuitem">&nbsp; &nbsp; <img
                                src="{% static 'img/skip-forward.png' %}" width="20px" height="20px" class="wow rollIn"> &nbsp; &nbsp; I
                            know my access code</a>
                    </h3>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>

    <nav class="navbar-fixed-bottom navbar-default">
      <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
      </div>
    </nav>

</body>
</html>