{% load staticfiles %}
<html>
<head>
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet" media="screen" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="stopit">
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/foundation/foundation.js' %}"></script>
  <script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
  <!-- Other JS plugins can be included here -->
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>

  <script>
    $(document).foundation();
  </script>


<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" ><span class="name">Home</span></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="/logout/"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="/logout/">Logout</a>
        <ul class="dropdown">
          <li><a href="/logout/">Logout</a></li>
          <li class="active"><a href="/logout/">Logout link in dropdown</a></li>
        </ul>
      </li>
    </ul>

  </section>

</nav>
    <div class="row">
      <div class="large-12 columns">
        <h1>&nbsp;</h1>
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container" id="bottom_gradient">
      <div class="page-header">
        <h1></h1>
      </div>
    </div>

    <div class="row">
      <div class="reportmenu">

            <table width="220px" align="center">
                <tr >
                    <td><div class="reportcircle" onclick="location.href='/incident/';" style="cursor: pointer;"><a href="/incident/" class="stopitmenuitem">Report</a></div></td>
                </tr>
                <!--
                <tr >
                    <td><div class="helpcircle" onclick="location.href='/messenger/';" style="cursor: pointer;"><a href="/messenger/" class="stopitmenuitem">Messenger</a></div></td>
                </tr>
                -->
            </table>

      </div>
    </div>


</body>
</html>