{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>STOPit</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stopit.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

</head>

<body class="stopit">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {% if REQUIRES_ACCEPTANCE  %}
            {% else %}
      <ul class="nav navbar-nav navbar-left stopitsubtitle">
        <li><a href="/login/">Report Incident</a></li>
      </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% endif %}
            {% if REQUIRES_ACCEPTANCE  %}
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>

            {% else %}
                <a class="brand" style="margin: 0; float: none;" href="/login/">
                    <img src="{% static 'img/stopit.png' %}" height="40px">
                </a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown stopitsubtitle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu nav navbar-nav navbar-right">
                            {% if request.session.show_manage_contacts %}
                                <li><a href="/manage_contacts/">Manage Report Contacts</a></li>
                            {% endif %}
                            <li><a href="/help/">Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="/terms/">Terms of Use&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}

            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row">
      <div class="large-12 columns">
        <h1 class="stopittitle">Terms of Use</h1>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 panel">{% autoescape off %}{{ tos }}{% endautoescape %}</div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    {% if REQUIRES_ACCEPTANCE  %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">&nbsp;<div class="halfspacer">&nbsp;</div></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
    {% endif %}
    <nav class="navbar-fixed-bottom navbar-default">
      <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
      </div>
            {% if REQUIRES_ACCEPTANCE  %}

        <form action="/accept_tos/" method="post">{% csrf_token %}
            <input type="hidden" name="intellicode" value="{{ intellicode }}"/>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>

                    <div class="col-md-6">
                        <input type="submit" value="Decline" class="stopitbutton" name="decline" align="left"/>

                        <input type="submit" value="I Accept" class="stopitbutton pull-right" name="accept" />
                    </div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6">&nbsp;<div class="halfspacer">&nbsp;</div></div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6">
                        By clicking "I Accept", you also agree to the terms of our <a href="http://www.stopitcyberbully.com/privacy" target="_blank">"Privacy Policy"</a>
                    </div>
                    <div class="col-md-3">&nbsp;</div>
                </div>
            </div>
        </form>
            {% endif %}
    </nav>

</body>
</html>