
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    margin: 0px;
}

body.stopit {
    background: -webkit-linear-gradient(#B2D5EB, white, #B2D5EB) fixed;
    background: -o-linear-gradient(#B2D5EB, white, #B2D5EB) fixed;
    background: -moz-linear-gradient(#B2D5EB, white, #B2D5EB) fixed;
    background: linear-gradient(#B2D5EB, white, #B2D5EB) fixed;
}

.stopitmenu {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: -webkit-linear-gradient(27deg, #52b0ee 19%, #741ec4 81%) fixed;
    background: -moz-linear-gradient(27deg, #52b0ee 19%, #741ec4 81%) fixed;
    background: -o-linear-gradient(27deg, #52b0ee 19%, #741ec4 81%) fixed;
    background: -ms-linear-gradient(27deg, #52b0ee 19%, #741ec4 81%) fixed;
    background: linear-gradient(63deg, #52b0ee 19%, #741ec4 81%) fixed;
}
a.stopitmenuitem {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    text-decoration:none;
}


a.topbarmenu {
    color: #532380;
}

a.stopittopmenuitem {
    color: #532380;
}
.stopittitle {
    font-family: 'Bree Serif', serif;
    color:  #532380;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 80px;
}

.stopitsubtitle {
    font-family: 'Bree Serif', serif;
    color:  #532380;
    font-size: 18.0px;
    font-weight: 700;
    text-align: left;
}

.stopitorgcontact {
    font-family: 'Open Sans', sans-serif;
    color:  rgba(89, 89, 89, 0.47);
    font-size: 14.0px;
    font-weight: 700;
    text-align: left;
}

.stopitcontact {
    font-family: 'Open Sans', sans-serif;
    color:  #595959;
    font-size: 14.0px;
    font-weight: 700;
    text-align: left;
}

.reportmenu {
    background:rgba(0,0,0,0.0);
}

.reportcircle {
    font-family: 'Source Sans Pro';
    color:white;
    font-size: 24px;
    font-weight: 100;
    text-align: center;

	border-radius: 50%;
	width: 200px;
	height: 200px;
	line-height: 200px;

	/* width and height can be anything, as long as they're equal */
    border-style: solid;
    border-width: 6px;
    border-color:  #99999a;
    background: -webkit-linear-gradient(-143deg, #d00342 0%, #a80d56 32%, #532380 100%);
    background: -moz-linear-gradient(-143deg, #d00342 0%, #a80d56 32%, #532380 100%);
    background: -o-linear-gradient(-143deg, #d00342 0%, #a80d56 32%, #532380 100%);
    background: -ms-linear-gradient(-143deg, #d00342 0%, #a80d56 32%, #532380 100%);
    background: linear-gradient(233deg, #d00342 0%, #a80d56 32%, #532380 100%);

}

.helpcircle {
    font-family: 'Source Sans Pro';
    color:white;
    font-size: 24px;
    font-weight: 100;
    text-align: center;

	width: 200px;
	height: 200px;
	line-height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color:  #99999a;
    background: -webkit-linear-gradient(27deg, #52b0ee 3%, #741ec4 97%);
    background: -moz-linear-gradient(27deg, #52b0ee 3%, #741ec4 97%);
    background: -o-linear-gradient(27deg, #52b0ee 3%, #741ec4 97%);
    background: -ms-linear-gradient(27deg, #52b0ee 3%, #741ec4 97%);
    background: linear-gradient(63deg, #52b0ee 3%, #741ec4 97%);
}

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }

  input{
   border:none;
   padding:8px;
  }

  #pbar{
   margin:0px;
   width:0px;
   background:lightgreen;
   height: 2px;
  }

  #ppbartxt{
   text-align:left;
   margin:2px;
   color:  #ffffff;
  }

  #ppbarerrortxt{
   background-color:  #ff5959;
   text-align:center;
   margin:2px;
   color:  #ffffff;
   width: 150px;
  }

.top-bar {
    background-color:rgba(255, 255, 255, 0.75);
}

.name {
  color: #532380;
}

.stopitbutton {
    background: -webkit-linear-gradient(90deg, #532380 0%, #7538af 100%);
    background: -moz-linear-gradient(90deg, #532380 0%, #7538af 100%);
    background: -o-linear-gradient(90deg, #532380 0%, #7538af 100%);
    background: -ms-linear-gradient(90deg, #532380 0%, #7538af 100%);
    background: linear-gradient(0deg, #532380 0%, #7538af 100%);
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.stopitcancelbutton {
    border-style: solid;
    border-width: 1px;
    border-color:  #e5e5e5;
    box-sizing: border-box;
    background: -webkit-linear-gradient(90deg, #bcbcbc 0%, #f0f0f0 100%);
    background: -moz-linear-gradient(90deg, #bcbcbc 0%, #f0f0f0 100%);
    background: -o-linear-gradient(90deg, #bcbcbc 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(90deg, #bcbcbc 0%, #f0f0f0 100%);
    background: linear-gradient(0deg, #bcbcbc 0%, #f0f0f0 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.onboardingtitle {
    font-family: 'Bree Serif', serif;
    color:  #ffffff;
    font-size: 30.0px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

.orgtitle {
    font-family: 'Bree Serif', serif;
    color:  #ffffff;
    font-size: 14.0px;
    font-weight: 400;
    text-align: left;
    margin-top: 40px;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}


.stopitline {
    border-bottom: thin solid rgba(255, 255, 255, 0.3);
}

/*-- change navbar dropdown color --*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #532380;
    color:#ffffff;
}

   .col-sm-2 {
    float: right;
  }

.right_aligned {
    float: right;
}

.shadow {
    -webkit-box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.53);
    box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.53);
}

.incidentText {
    width: 100%;
    height: 150px;
    background-color:  #ece8e8;
}
textarea {
    resize: none;
}

.stopitinput {
    border-radius: 4px;
    background-color:  #ece8e8;
    height: 46px;
}
.stopitlabel {
    font-family: 'Open Sans', sans-serif;
    color:  #595959;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
}
.stopittoplabel {
    font-family: 'Open Sans', sans-serif;
    color:  #595959;
    font-size: 14px;/* Approximation due to font substitution */
    font-style: italic;
    font-weight: 700;
    text-align: left;
}

  #successtxt{
   background-color:  #99FFCC;
   text-align:center;
   margin:2px;
   color:  #000000;
   width: 150px;
  }

  .spacer {
    height: 40px;
  }

  .halfspacer {
    height: 5px;
  }

.afterhours {
    font-family: 'Open Sans', sans-serif;
    color: #595959;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    }